# Created by .gitignore support plugin (hsz.mobi)

### CodeIgniter
application/config/*.db_config.php
application/config/!example.db_config.php
application/logs/*
application/logs/!index.html
application/logs/!.htaccess
application/cache/*
application/cache/!index.html
application/cache/!.htaccess

### PhpStorm
.idea

### Windows
*.ini

### Mac
.DS_Store